{{#with user}}
  <h1>"{{collectionName}}" by {{username}}</h1>
  {{#each nfts}}
    <img src="{{imageUrl}}" alt="" />
    {{#if ../../isOwner}}
      <form action="/nfts/{{_id}}/delete" method="POST">
        <button type="submit">Remove</button>
      </form>
    {{/if}}
  {{/each}}
{{/with}}