<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NFT Art Galleries</title>
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/tailwind.css" />
  </head>

  <body class="font-poppins">

    {{!-- <a href="/">Home</a>
    <a href="/login">Log in</a>
    <a href="/signup">Sign up</a>
    <a href="/profile">Profile</a>
    <a href="/collections">Collections</a>
    <a href="/quiz">Quiz</a> --}}

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>